{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
