@import '../../styles/main.scss';

.add-word-with-synonym {
  & {
    @include inner-grid;
  }

  &__container {
    grid-row: 3;
    @include grid-child(1, 4);
  }

  &__heading {
    padding-block-end: $spacing-xxs;
  }

  &__input {
    @include input-styles;
    margin-block-end: $spacing-xxs;
  }

  &__button {
    @include button-styles;
  }

  &__feedback {
    padding-block-start: $spacing-xxs;
    @include feedback-text;
  }
}
