@import '../../styles/variables.scss';

/* Dynamic content width setter */
/* Ensures content maintains consistent margin on all screen size */

@mixin content-width {
  & {
    width: 100%;
  }

  & {
    padding-inline: max(
      $page-margin-large,
      calc(50vw - (1392px / 2) + $page-margin-large)
    );
  }

  @media (max-width: $breakpoint-tablet) {
    & {
      padding-inline: max(
        $page-margin-medium,
        calc(50vw - (768px / 2) + $page-margin-medium)
      );
    }
  }

  @media (max-width: $breakpoint-mobile) {
    & {
      padding-inline: $page-margin-small;
    }
  }
}
