@import '../../styles/main.scss';

.search-form {
  & {
    @include inner-grid;
  }

  &__form {
    grid-row: 1;
    width: 100%;
    @include grid-child(1, 6);
  }

  .search-form__container {
    position: relative;
    width: 100%;
  }

  &__input {
    @include input-styles;
  }

  /* Combined button styles */
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3.125rem;
  }

  &__search-button {
    right: $spacing-xs;
  }

  &__clear-button {
    right: $spacing-xl;
  }

  &__clear-icon {
    padding-block-start: 0.15rem;
    height: 1rem;
    width: auto;
  }

  &__search-icon {
    height: 1.5rem;
    width: auto;
  }

  /* Vertical line between the buttons */
  &__divider {
    position: absolute;
    right: $spacing-sm + 1.9rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5rem;
    width: 1px;
    background-color: $color-midnight;
  }

  &__feedback {
    padding-block-start: $spacing-xxs;
    @include feedback-text;
  }
}
