@font-face {
  font-family: 'Space Grotesk';
  src:
    url('../fonts/SpaceGrotesk.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk.woff') format('woff');
  font-weight: 300 400 500 600 700;
  font-style: normal;
}
